<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Admin dashboard</title>
</head>
<body>
<header th:replace="~{partials/headerLoggedIn}"></header>
<main class="container-fluid">

    <h4>List of employees</h4>
    <div th:each="employee : ${employees}">
        <a th:href="@{/vacations/employee/home/{id}(id=${employee.id})}">
            <div th:text="${employee.employeeName}"></div>
        </a>
    </div>
    <button><a th:href="@{/admin/dashboard/newEmployee}">Create new</a></button>

    <h4>List of organizers</h4>
    <div th:each="organizer : ${organizers}">
        <a th:href="@{/vacations/organizer/{id}(id=${organizer.id})}">
            <div th:text="${organizer.name}"></div>
        </a>
    </div>

    <h4>List of vacations</h4>
    <div th:each="vacation : ${vacations}">
        <a th:href="@{/vacations/organizer/{id}(id=${organizer.id})}">
            <div th:text="${organizer.name}"></div>
        </a>
    </div>

    <div>
        <div>

        </div>
    </div>
</main>
</body>
</html>