<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Admin dashboard</title>
</head>
<body>
<header th:replace="~{partials/header}"></header>
<main class="container-fluid">

    <h1>List of organizers</h1>
    <div th:each="employee : ${employees}">
        <a th:href="@{/vacations/employee/home/{id}(id=${employee.id})}">
            <div th:text="${employee.employeeName}"></div>
        </a>
    </div>

    <h1>List of organizers</h1>
    <div th:each="organizer : ${organizers}">
        <a th:href="@{/vacations/organizer/{id}(id=${organizer.id})}">
            <div th:text="${organizer.name}"></div>
        </a>
    </div>

    <div>
        <div>
            <a style="text-decoration: none" href="javascript: document.logoutForm.submit()">Logout 🔓</a>
            <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
                <input hidden type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</main>
</body>
</html>