<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
</head>
<body>
<h3>Creating a new employee</h3>
<div th:if="${error}">
    <p th:text="${error}" class="error-message"></p>
</div>
<form action="#" th:action="@{/admin/dashboard/newEmployee}" th:object="${employee}" method="post">
    <p>Name: <input type="text" th:field="*{employeeName}"></p>
    <p>Password: <input type="text" th:field="*{password}"></p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>
    <button><a th:href="@{/admin/dashboard}">Back to dashboard</a></button>
</form>
</body>
</html>