<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>🏡</title>
</head>
<body>
<header th:replace="~{partials/headerLoggedIn}"></header>

<div th:object="${employee}">
    <h3>🏡 Home page of <span sec:authentication="name"></span></h3>
</div>
<div th:each="vacation : ${employee.vacations}">
    <h2 th:text="${vacation.title}">Title</h2>
    <p th:text="${vacation.description}">Description</p>
    <p th:text="${vacation.country}">Country</p>
    <p th:text="${vacation.city}">City</p>
    <p th:text="${vacation.vacationStartDate}">Start date:</p>
    <p th:text="${vacation.vacationEndDate}">End date</p>
    <p th:text="${vacation.price}">Price</p>
</div>
<div>
    <div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
        <form th:action="@{'/employees/delete/'+${employeeId}}" th:object="${employee}" th:method="delete">
            <input
                    type="hidden"
                    name="_method"
                    value="delete">
            <p>
                <input
                        type="submit"
                        value="Delete"/>
            </p>
        </form>
    </div>
</div>
</body>
</html>